<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <title>TSAP - Visualizador</title>
    <link rel="icon" type="image/png" href="/img/favicon.ico" />
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" style="position: relative;">
      <a class="navbar-brand" href="#"><img src="img/twitter_icon.svg" alt="twitter_logo" style="margin-right: 10px"/>TSAP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Início<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
      </div>
    </nav>

    <main role="main" class="container" style="margin-top: 10px">
      <form>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Candidatos participantes</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option selected>Selecionar...</option>
            <option>Alvaro Dias</option>
            <option>Cabo Daciolo</option>
            <option>Ciro Gomes</option>
            <option>Fernando Haddad</option>
            <option>Geraldo Alckmin</option>

            <option>Guilherme Boulos</option>
            <option>Henrique Meirelles</option>
            <option>Jair Bolsonaro</option>
            <option>João Amoedo</option>
            <option>João Goulart</option>
            <option>José Maria Eymael</option>
            <option>Marina Silva</option>
            <option>Vera Lucia</option>
            <option disabled>Luiz Inácio Lula da Silva</option>
          </select>
        </div>
      </form>
      <h4>Gráfico temporal do número de tweets sobre o candidato x</h4>
      <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </main>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
  
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!-- Other JavaScript files -->
    <script src="/js/chart.js"></script>
  </body>
</html>
