# credentials
src/twitter/twitter_credentials.py
src/twitter/twitter_credentials.pyc

# mongodb
docker/data

# pycharm
.idea

# pycache
src/__pycache__
src/analyser/__pycache__
src/database/__pycache__
src/twitter/__pycache__
src/utils/__pycache__

# virtualenv
.venv
venv/
